@model List<RptPutty.Models.Listing>

@{
    ViewBag.Title = "reports";
}

<h2>reports</h2>
<ul>
@foreach (var report in @Model)
{
    <li><a href="~/web/generator/@report.Filename">@report.Title</a></li>
}
</ul>