<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Default Report Paths -->
    <add key="defaultReport" value="ADT_Admissions.rpt" />
    <add key="searchPath" value="C:\Users\aladuca\Documents\Workspace_Resources\Crystal Reports\Reporting Content\ADT\" />
    <!-- RptDynamo Location -->
    <add key="rptDynamoExe" value="" />
    <add key="rptDynamoConfig" value="" />
    <add key="rptDynamoJobLocation" value="" />
    <!-- External DB query for report listing -->
    <add key="extReportListing" value="SELECT DISTINCT X_FILE_NAME, CLARITY_RPT.REPORT_NAME FROM X_CLARITY_SUBSCRIB INNER JOIN CLARITY_EMP ON X_CLARITY_SUBSCRIB.USER_NUMBER_ID=CLARITY_EMP.USER_ID LEFT JOIN REPORT_INFO ON X_CLARITY_SUBSCRIB.SUBSCRIBED_REPT_ID = REPORT_INFO.REPORT_INFO_ID LEFT JOIN TEMPLATE_INFO ON REPORT_INFO.REPORT_ID  = TEMPLATE_INFO.REPORT_ID LEFT JOIN CLARITY_RPT ON REPORT_INFO.REPORT_ID = CLARITY_RPT.ASSOC_REPORT_ID WHERE CLARITY_EMP.SYSTEM_LOGIN=? AND X_FILE_NAME IS NOT NULL AND CLARITY_RPT.REPORT_NAME IS NOT NULL AND (TEMPLATE_INFO.STATUS_C = 0 TEMPLATE_INFO.STATUS_C OR IS NULL)"/>
    <add key="extReportAccess" value="SELECT DISTINCT x_file_name, clarity_rpt.report_name FROM x_clarity_subscrib INNER JOIN clarity_emp ON x_clarity_subscrib.user_number_id = clarity_emp.user_id LEFT JOIN report_info ON x_clarity_subscrib.subscribed_rept_id = report_info.report_info_id LEFT JOIN template_info ON report_info.report_id = template_info.report_id LEFT JOIN clarity_rpt ON report_info.report_id = clarity_rpt.assoc_report_id WHERE  clarity_emp.system_login = ? AND x_file_name = ? AND clarity_rpt.report_name IS NOT NULL AND (template_info.status_c = 0 OR template_info.status_c IS NULL)"/>
    <add key="extReportDSOveride" value="CLARITY-PROD"/>
  </appSettings>
  <!-- Database -->
  <connectionStrings>
    <add name="RptPutty" providerName="System.Data.SqlClient" connectionString="Integrated Security=True; server = localhost; database = RptPuttyTesting;" />
  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
