<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RptPutty" providerName="System.Data.SqlClient" connectionString="Integrated Security=True; server = localhost; database = RptPuttyTesting;" />
    <add name="StatusTracker" providerName="MSDASQL" connectionString="DSN=RptPuttyTesting" />
    <add name="UserAccess" providerName="MSDASQL" connectionString="DSN=clarity-prod" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>